<% provide(:title, "Index") %>

<div class="jumbotron tempBlock">
  <h1>Welcome To My website</h1>
  <p>Hey! Thanks for your coming. ,I am working on this site now. </p>
  <p>You can contact me via  jasonheylon#gmail.com.  Please notice replace @ for #. </p>
</div>
