<% provide(:title, "Index") %>
<% provide(:nav_id, "index" ) %>

<div class="my-brief-box">
	<div class="my-brief ">
		<h1>Hey, I am Jason Heylon</h1>
  		<p> A Programmer making ROR and iOS apps live in Beijing. I write blog in Mandarin. And I am still working on this site. </p>
  		<p> You can contact me via  jasonheylon#gmail.com. </p>
	</div>

</div>
