<div class="item">
						<p>
							<strong>Commneter</strong>
							<%= comment.commenter %>
						</p>
						<p>
							<strong>Content</strong>
							<%= comment.content %>
						</p>
						<p class="comment-time">
							comment posted @ <%= comment.created_at %>
							 <%= link_to("Delete", [@article, comment] , method: :delete, class: "btn btn-danger", confirm: "are you sure?") %>
						</p>
					</div>