<h1>Edit article</h1>

<%= render 'form' %>

<p>
	 <%= link_to("Back To List", blog_path) %>
</p>




<script type="text/javascript">
  function Editor(input, preview) {
        this.update = function () {
          preview.innerHTML = markdown.toHTML(input.value);
          console.log("ok");
          $(preview).find('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
          });
        };
        input.editor = this;
        this.update();
        hljs.initHighlightingOnLoad();
    }

  $(function(){
        var getEl = function (id) { return document.getElementById(id); };
        new Editor(getEl("txtArticle"), getEl("MarkdownPreview"));
        hljs.initHighlightingOnLoad();
  });



</script>