/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap

 *= require nprogress
 *= require railscasts

 *= require_self



 */

 body{
 }

#body{
	min-height:600px;
}
header{
	height:50px;
	line-height: 50px;
	font-size: 16px;
}
footer{
	text-align: center;
	color:#888;
}

.navbar-inverse{
	/*background-color: #fff;*/
	border: none;
}
.navbar{

}

.navbar .logo{
	font-size: 24px;
	width:200px;
	float: left;
}

 .top-menu{
	list-style:none;
	float: right;
	margin: 0px;
	padding:0px;
}
 .top-menu li{
	float:left;
	padding: 0px;
	margin-left: 20px;
}
.top-menu li a{
	color: #222;
	text-decoration: none;
	padding-bottom: 3px;
}
.top-menu li.active a,
.top-menu li a:hover{
	border-bottom: 1px solid #333;
}
.container-fluid{
	padding: 0px;
}

.notice-box{
	color:red;
}
.row{
	margin:0px;
}

pre{
	border:none;
	background-color: transparent;
}

