// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.article{
	border-bottom:1px solid #aaa;
	.status{
		text-align: right;
		color: #aaa;
	}
}

.article_status{
	text-align: right;
	color: #aaa;
}

.control-bar{
	text-align: right;
}

.comments-box{
	.new-comment{

	}

	.comment-list{
		border-top: 1px dotted #888888;
		.item{
			border-bottom: 1px solid #884411;
		}
	}
}


#MarkdownPreview{
	border: 2px dotted #222;
	padding:10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.article-title{
	padding-left:10px;
	border-left: 4px solid #e1e1e1;
	padding-bottom: 5px;
	border-bottom: 1px dashed #e1e1e1;
}
.article_body{
	padding: 10px;
}


