// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}



.article{
	border-bottom:1px solid #aaa;
	.status{
		text-align: right;
		color: #aaa;
	}
}

.article-status{
	text-align: left;
	color: #aaa;
	padding-left:20px;
}
.article-tags{
	
}


.comments-box{
	.new-comment{

	}

	.comment-list{
		border-top: 1px dotted #888888;
		.item{
			border-bottom: 1px solid #884411;
		}
	}
}


#MarkdownPreview{
	border: 2px dotted #222;
	padding:10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.article-title{
	padding-left:10px;
	border-left: 4px solid #e1e1e1;
	padding-bottom: 5px;
	border-bottom: 1px dashed #e1e1e1;
}
.article_body{
	padding: 10px;
	background-image: image-url('paper-bg.jpg');
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	color: #2f2f2f
}


